:host ::ng-deep {
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }
}

.content {
    width: 100vw;
}

.card {
    width: 80vw;
}

.delete{
    background-color: red;
    border-color: red;
    margin-left: 15px;
}
