<div class="content flex flex-column align-items-center">
    <div class="card flex flex-column p-3">
        <div class="flex justify-content-between align-items-center mb-3">
            <h3>Pacientes</h3>
            <span>
                <p-button
                    label="Adicionar paciente"
                    icon="pi pi-plus"
                    iconPos="right"
                    size="small"
                    (click)="openDialog()"
                    />
            </span>
        </div>
        <div *ngIf="patients && patients.length > 0" class="table">
            <p-toast />
            <p-table [value]="patients" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Cpf</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th style="width: 5rem">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-patient>
                    <tr>
                        <td>{{ patient.nome }}</td>
                        <td>{{ patient.cpf }}</td>
                        <td>{{ patient.telefone }}</td>
                        <td>{{ patient.email }}</td>
                        <td>
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                (click)="selectPatient(patient)">
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<app-dialof-form
    [visible]="dialogVisible"
    [patient]="selectedPatient"
    (closeDialog)="closeDialog()">
</app-dialof-form>
