* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.signup-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 20%;
}

.logo {
    color: #007bff;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', sans-serif;
}

.signup-form h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.signup-form p {
    text-align: center;
    margin-bottom: 20px;
    color: #606770;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 4px;
    font-size: 16px;
}

.signup-btn {
    background-color: #42b72a;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.signup-btn:disabled {
    background-color: #cccccc;
}

.signup-btn:hover:enabled {
    background-color: #36a420;
}

.login-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

p-password {
    &::ng-deep {
        input {
            width: 17vw
        }
    }
}

p-calendar {
    &::ng-deep {
        input {
            width: 17vw
        }
    }
}

p-inputMask {
    &::ng-deep {
        input {
            width: 17vw
        }
    }
}

p-radioButton {
    &::ng-deep {
        input {
            display: flex;
            flex-direction: row;
        }
    }
}

p-selectButton {
    &::ng-deep {
        input {
            width: 17vw
        }
    }
}

@media (max-width: 768px) {
    .signup-form {
      width: 70%;
    }

    .signup-form input,
    .signup-form select,
    .signup-form .input-group input {
      width: 100%;
    }
}

@media (max-width: 480px) {
    .signup-form {
      width: 90%;
      padding: 15px;
    }

    .signup-form input,
    .signup-form select,
    .signup-form .input-group input {
      width: 100%;
      font-size: 14px;
      padding: 8px;
    }

    .signup-btn {
      padding: 8px;
      font-size: 14px;
    }

    .logo {
      font-size: 24px;
    }

    .signup-form h2 {
      font-size: 20px;
    }
}
