<div class="">
    <div class="container p-mt-5 p-fluid">
        <p-card class="p-shadow-3 card">
            <div class="header flex justify-content-between align-items-center p-mb-3">
                <h2 class="p-mr-2">Informações do Laboratório</h2>
                <p-button label="Editar" icon="pi pi-pencil" iconPos="right" size="small" (onClick)="showDialog()"
                    class="p-button-rounded p-button-info"></p-button>
            </div>
    
            <div class="p-grid p-nogutter laboratorio-details p-mb-3">
                <div class="p-col-12 p-md-6">
                    <span class="label"><strong>Nome:</strong></span>
                    <p>{{ laboratorio.nome }}</p>
                </div>
                <div class="p-col-12 p-md-6">
                    <span class="label"><strong>Razão Social:</strong></span>
                    <p>{{ laboratorio.razaoSocial }}</p>
                </div>
                <div class="p-col-12 p-md-6">
                    <span class="label"><strong>CNPJ:</strong></span>
                    <p>{{ laboratorio.cnpj }}</p>
                </div>
                <div class="p-col-12 p-md-6">
                    <span class="label"><strong>Telefone:</strong></span>
                    <p>{{ laboratorio.telefone }}</p>
                </div>
                <div class="p-col-12 p-md-6">
                    <span class="label"><strong>Email:</strong></span>
                    <p>{{ laboratorio.email }}</p>
                </div>
                <div class="p-col-12 p-md-6">
                    <span class="label"><strong>Endereço:</strong></span>
                    <p>
                        {{ laboratorio.endereco!.logradouro }}, Nº {{ laboratorio.endereco!.numero }} <br />
                        {{ laboratorio.endereco!.bairro }}, {{ laboratorio.endereco!.cidade }} - {{
                        laboratorio.endereco!.estado }} <br />
                        CEP: {{ laboratorio.endereco!.cep }}<br />
                        <span *ngIf="laboratorio?.endereco?.complemento">
                            Complemento: {{ laboratorio.endereco!.complemento}}
                        </span>
                    </p>
                </div>
            </div>
        </p-card>
    </div>
</div>
<app-dialog-form [visible]="visible" (closeDialog)="closeDialog()"></app-dialog-form>
