<p-dialog header="Cadastro de Paciente" [modal]="true" [(visible)]="visible" (onHide)="closeDialog.emit()">
    <form [formGroup]="patientFg" (ngSubmit)="onSubmit()">
        <div class="input-group mt-2">
          <input
            type="text"
            pInputText
            class="input"
            formControlName="nome"
            placeholder="Nome"
            required />
            <small *ngIf="patientFg.controls.nome?.invalid" class="text-red-500 text-xs">
                Nome é obrigatório.
            </small>
        </div>

        <div class="input-group">
            <p-calendar
                dateFormat="dd/mm/yy"
                formControlName="dataNascimento"
                placeholder="Data Nascimento"
                [showIcon]="true"
                [showOnFocus]="false"
                inputId="icondisplay"
                [iconDisplay]="'input'"
                [dateFormat]="'dd/mm/yy'"
                class="input"
                (keydown)="blockTyping($event)"
            ></p-calendar>
            <small *ngIf="patientFg.controls.dataNascimento?.invalid" class="text-red-500 text-xs">
                Data de Nascimento é obrigatório.
            </small>
        </div>

        <div class="input-group">
            <p-inputMask
                mask="999.999.999-99"
                formControlName="cpf"
                placeholder="CPF"
                class="input"
            />
            <small *ngIf="patientFg.controls.cpf?.invalid" class="text-red-500 text-xs">
                Cpf é obrigatório.
            </small>
        </div>

        <div class="input-group">
            <div class="flex flex-wrap gap-3 flex align-items-center">
                <div *ngFor="let sex of sexOptions">
                    <p-radioButton
                        [inputId]="sex.value"
                        [value]="sex.value"
                        formControlName="sexo"
                        class="input"
                        />
                    <label [for]="sex.key">
                        {{ sex.label }}
                    </label>
                </div>
                <small *ngIf="patientFg.controls.sexo?.invalid" class="text-red-500 text-xs">
                    Genêro é obrigatório.
                </small>
            </div>
        </div>

        <div class="input-group">
            <input
                type="text"
                pInputText
                class="input"
                formControlName="email"
                placeholder="Email"
            />
            <small *ngIf="patientFg.controls.email?.invalid" class="text-red-500 text-xs">
                Email é obrigatório.
            </small>
        </div>

        <div class="flex flex-column justify-content-between">
            <div class="input-group">
                <p-inputMask
                    mask="(99) 99999-9999"
                    formControlName="telefone"
                    placeholder="Telefone celular"
                    class="input"
                />
                <small *ngIf="patientFg.controls.telefone?.invalid" class="text-red-500 text-xs">
                    Telefone é obrigatório.
                </small>
            </div>

            <div class="input-group">
                <p>Preencha apenas se deseja alterar a senha</p>
                <p-password
                    formControlName="senha"
                    [toggleMask]="true"
                    promptLabel="Escolha uma senha"
                    weakLabel="Senha Fraca"
                    mediumLabel="Senha Média"
                    strongLabel="Senha Forte"
                    placeholder="Senha"
                    class="input"
                >
                    <ng-template pTemplate="footer">
                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                            <li>Pelo menos uma minuscula</li>
                            <li>Pelo menos uma maiuscula</li>
                            <li>Pelo menos uma numérica</li>
                            <li>Mínimo 8 caracteres</li>
                        </ul>
                    </ng-template>
                </p-password>
            </div>
        </div>

        <button type="submit" class="signup-btn" [disabled]="patientFg.invalid">Salvar</button>
    </form>
</p-dialog>
