<p-dialog header="Cadastro de exames" [modal]="true" [(visible)]="visible" (onHide)="closeDialog.emit()">
    <form [formGroup]="resultadoForm" (ngSubmit)="onSubmit()">
        <div class="row flex flex-row">
            <div class="input-group">
                <p-dropdown [options]="typesExams" formControlName="tipoExame" optionLabel="nome"
                    class="input" [style]="{width: '14vw', color: 'black'}" placeholder="Tipo Exame"></p-dropdown>
            </div>
            <div class="input-group">
                <p-calendar
                    formControlName="dataExame"
                    dateFormat="dd/mm/yy"
                    placeholder="Data do Exame"
                    [showIcon]="true"
                    [showOnFocus]="false"
                    inputId="icondisplay"
                    [iconDisplay]="'input'"
                    class="input"
                    [style]="{width: '14vw'}"
                    (keydown)="blockTyping($event)"
                    />
            </div>
        </div>

        <div class="row flex flex-row">
            <div class="input-group">
                <p-dropdown [options]="profissionaisSaude" formControlName="profissionalSaude" optionLabel="nome"
                    class="input" [style]="{width: '14vw', color: 'black'}" placeholder="Profissional Responsável"></p-dropdown>
            </div>
            <div class="input-group">
                <p-dropdown [options]="patients" formControlName="paciente" optionLabel="nome"
                    class="input" [style]="{width: '14vw', color: 'black'}" placeholder="Paciente"></p-dropdown>
            </div>
        </div>

        <div formArrayName="resultados">
          <div *ngFor="let resultado of resultados.controls; let i = index" [formGroupName]="i" class="parametro-item">
            <label>{{ parametros[i].nome }}:</label>

            <div class="row flex flex-row">
                <div class="input-group">
                    <p-inputMask
                        mask="{{parametros[i].mascara}}"
                        formControlName="resultado"
                        placeholder="Resultado"
                        class="input"
                        [style]="{width: '10vw'}"
                    />
                    <small>({{ parametros[i].unidadeDeMedida }})</small>
                </div>

                <div class="input-group">
                    <!-- Observação -->
                    <input id="observacao-{{i}}" type="text" pInputText class="input" formControlName="observacao" placeholder="Observação" />
                </div>

                <div class="input-group">
                    <!-- Nível de Alerta -->
                    <p-dropdown id="nivelDeAlerta-{{i}}" [options]="alertOptions" formControlName="nivelDeAlerta" optionLabel="value" optionValue="value"
                    class="input" [style]="{width: '7vw', color: 'black'}" placeholder="Nível"></p-dropdown>
                    <small>Nivel de alerta</small>
                </div>
            </div>
          </div>
        </div>

        <button type="submit" class="signup-btn" [disabled]="resultadoForm.invalid">Enviar Resultados</button>
    </form>
</p-dialog>
