.header h2 {
    font-size: 1.5rem;
    color: #333;
}

.label {
    color: #666;
}

.laboratorio-details {
    margin-top: 1.5rem;
}

.laboratorio-details p {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #444;
}
