<p-dialog header="Cadastro de Laboratório" [modal]="true" [(visible)]="visible" (onHide)="closeDialog.emit()">
    <div class="container">
        <form [formGroup]="labFg" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="input-group">
                    <p-floatLabel>
                        <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="nome"
                        placeholder="Nome do Laboratório"
                        required/>
                        <label for="nome">Nome do Laboratório</label>
                    </p-floatLabel>
                </div>

                <div class="input-group">
                    <p-floatLabel>
                        <p-inputMask
                            mask="99.999.999/9999-99"
                            formControlName="cnpj"
                            placeholder="CNPJ"
                            class="input"
                        />
                        <label for="cnpj">CNPJ</label>
                    </p-floatLabel>
                </div>

                <div class="input-group">
                    <p-floatLabel>
                        <input
                            type="text"
                            pInputText
                            class="input"
                            formControlName="razaoSocial"
                            placeholder="Razão Social"
                            required/>
                        <label for="razaoSocial">Razão Social</label>
                    </p-floatLabel>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <p-floatLabel>
                        <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="email"
                        placeholder="Email"/>
                        <label for="email">Email</label>
                    </p-floatLabel>
                </div>

                <div class="input-group">
                    <p-floatLabel>
                        <p-inputMask
                            mask="(99) 9999-9999"
                            formControlName="telefone"
                            placeholder="Telefone"
                            class="input"
                            />
                        <label for="email">Telefone</label>
                    </p-floatLabel>
                </div>
            </div>
            <h3>Endereço</h3>
            <div class="form-group">
                <div class="input-group">
                    <p-inputMask
                        mask="99999-999"
                        formControlName="cep"
                        class="input"
                        placeholder="Cep"
                        (onBlur)="findCep()"
                    />
                </div>
                <div class="input-group">
                        <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="estado"
                        placeholder="Estado"
                        required/>
                </div>
                <div class="input-group">
                    <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="cidade"
                        placeholder="Cidade"
                        required/>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="bairro"
                        placeholder="Bairro"
                        required/>
                </div>
                <div class="input-group">
                    <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="logradouro"
                        required
                        placeholder="Logradouro"
                    />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="complemento"
                        placeholder="Complemento"
                        required
                    />
                </div>
                <div class="input-group">
                    <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="numero"
                        placeholder="Número"
                        required/>
                </div>
                <button type="submit" pButton label="Cadastrar" [disabled]="labFg.invalid"></button>
            </div>
        </form>
    </div>
</p-dialog>
