<p-dialog header="Cadastro de Laboratório" [modal]="true" [(visible)]="visible" (onHide)="closeDialog.emit()">
    <form *ngIf="labFg" [formGroup]="labFg" (ngSubmit)="onSubmit()">
        <div class="input-group mt-2">
          <input
            type="text"
            pInputText
            class="input"
            formControlName="nome"
            placeholder="Nome"
            required />
            <small *ngIf="labFg.controls.nome?.invalid" class="text-red-500 text-xs">
                Nome é obrigatório.
            </small>
        </div>

        <div class="input-group mt-2">
            <p-inputMask
            mask="99.999.999/9999-99"
            formControlName="cnpj"
            placeholder="CNPJ"
            class="input"
            />
            <small *ngIf="labFg.controls.cnpj?.invalid" class="text-red-500 text-xs">
                CNPJ é obrigatório.
            </small>
        </div>

        <div class="input-group mt-2">
            <input
            type="text"
            pInputText
            class="input"
            formControlName="razaoSocial"
            placeholder="Razão Social"
            required />
            <small *ngIf="labFg.controls.razaoSocial?.invalid" class="text-red-500 text-xs">
                Razão Social é obrigatório.
            </small>
        </div>

        <div class="input-group mt-2">
            <input
            type="text"
            pInputText
            class="input"
            formControlName="email"
            placeholder="Email"/>
            <small *ngIf="labFg.controls.email?.invalid" class="text-red-500 text-xs">
                Email é obrigatório.
            </small>
        </div>

        <div class="input-group mt-2">
            <input
            mask="(99) 9999-9999"
            formControlName="telefone"
            placeholder="Telefone"
            class="input"/>
            <small *ngIf="labFg.controls.telefone?.invalid" class="text-red-500 text-xs">
                Telefone é obrigatório.
            </small>
        </div>
        <div class="mt-2">
            <h3>Endereço</h3>
            <div class="form-group">
                <div class="input-group">
                    <p-inputMask
                        mask="99999-999"
                        formControlName="cep"
                        class="input"
                        placeholder="Cep"
                        (onBlur)="findCep()"
                    />
                    <small *ngIf="labFg.controls.cep?.invalid" class="text-red-500 text-xs">
                        CEP é obrigatório.
                    </small>
                </div>
                <div class="input-group">
                    <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="estado"
                        placeholder="Estado"
                        required/>
                        <small *ngIf="labFg.controls.estado?.invalid" class="text-red-500 text-xs">
                            Estado é obrigatório.
                        </small>
                </div>
                <div class="input-group">
                    <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="cidade"
                        placeholder="Cidade"
                        required
                    />
                    <small *ngIf="labFg.controls.cidade?.invalid" class="text-red-500 text-xs">
                        Cidade é obrigatório.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="bairro"
                        placeholder="Bairro"
                        required
                        />
                        <small *ngIf="labFg.controls.bairro?.invalid" class="text-red-500 text-xs">
                            Bairro é obrigatório.
                        </small>
                </div>
                <div class="input-group">
                    <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="logradouro"
                        required
                        placeholder="Logradouro"
                    />
                    <small *ngIf="labFg.controls.logradouro?.invalid" class="text-red-500 text-xs">
                        Logradouro é obrigatório.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="complemento"
                        placeholder="Complemento"
                        required
                    />
                    <small *ngIf="labFg.controls.complemento?.invalid" class="text-red-500 text-xs">
                        Complemento é obrigatório.
                    </small>
                </div>
                <div class="input-group">
                    <input
                        type="text"
                        pInputText
                        class="input"
                        formControlName="numero"
                        placeholder="Número"
                        required
                        />
                        <small *ngIf="labFg.controls.numero?.invalid" class="text-red-500 text-xs">
                            Número é obrigatório.
                        </small>
                </div>
            </div>
        </div>
        <button type="submit" class="signup-btn" [disabled]="labFg.invalid">Salvar</button>
    </form>
</p-dialog>
