.container {
    width: 40vw;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.input-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px;
    width: 90%;
    margin-top: 25px;
}

p-inputMask {
    &::ng-deep {
        input {
            width: 90%;
            margin: 10px;
        }
    }
}

p-radioButton {
    &::ng-deep {
        input {
            display: flex;
            flex-direction: row;
        }
    }
}

.input-group input{
    width: 90%;
    margin: 10px;
}

