:host ::ng-deep {
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;
    }
}

.content {
    width: 100vw;
}

.card {
    width: 80vw;
}

.delete {
    background-color: red;
    border-color: red;
    margin-left: 15px;
}

.pdf-download {
    background-color: #42b72a;
    border-color: #42b72a;
    margin-right: 15px;
}

.filter {
    display: flex;
    justify-content: end;
}

.footer-filter{
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-filter{
    p-button {
        &::ng-deep {
            button {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}


.input{
    width: 300px;
    background-color: white
}

p-card {
    &::ng-deep {
        div {
            background-color: #f9fafb;
        }
    }
}

p-button {
    &::ng-deep {
        button {
            width: 250px;
        }
    }
}

p-calendar {
    &::ng-deep {
        input {
            width: 300px
        }
    }
}

p-inputMask {
    &::ng-deep {
        input {
            width: 300px
        }
    }
}

