<div class="content flex flex-column align-items-center">
    <div *ngIf="!(laboratorio && laboratorio.id)" >
        <div class="card message-container flex flex-column align-items-center">
            <h1>Você precisa cadastrar seu estabelecimento antes.</h1>
        </div>
    </div>
    <div *ngIf="laboratorio && laboratorio.id" class="card flex flex-column p-5">
        <p-card class="card-filter">
            <div class="flex flex-row align-items-center justify-content-between">
                <h3>Exames</h3>
                <p-button
                    label="Novo Exame"
                    icon="pi pi-plus"
                    iconPos="right"
                    (onClick)="openDialog()"
                />
            </div>
            <div>
                <form
                    class="flex flex-row justify-content-between mt-3"
                    [formGroup]="filterFg"
                >
                    <div class="flex flex-column">
                        <div class="input-group">
                            <p-dropdown [options]="typesExams" formControlName="tipoExame" optionLabel="nome" optionValue="id"
                                class="input" [style]="{width: '300px', color: 'black'}" placeholder="Nível"></p-dropdown>
                        </div>
                    </div>

                    <div class="flex flex-column">
                        <p-inputMask
                            mask="999.999.999-99"
                            formControlName="cpf"
                            placeholder="CPF"
                            class="input"
                        />
                    </div>

                    <div class="flex flex-column">
                        <p-calendar
                            formControlName="dataInicio"
                            dateFormat="dd/mm/yy"
                            placeholder="Data Inicial"
                            [showIcon]="true"
                            [showOnFocus]="false"
                            inputId="icondisplay"
                            [iconDisplay]="'input'"
                            class="input"
                            (keydown)="blockTyping($event)"
                        />
                    </div>

                    <div class="flex flex-column">
                        <p-calendar
                            formControlName="dataFinal"
                            dateFormat="dd/mm/yy"
                            placeholder="Data Final"
                            [showIcon]="true"
                            [showOnFocus]="false"
                            inputId="icondisplay"
                            [iconDisplay]="'input'"
                            class="input"
                            (keydown)="blockTyping($event)"
                        />
                    </div>
                </form>
            </div>

            <div class="footer-filter mt-5">
                <div>
                    <p-button label="Limpar" severity="secondary" class="button-filter" (click)="limparFormulario()" />
                    <p-button label="Buscar" class="button-filter" (click)="onSubmit()" />
                </div>
            </div>
        </p-card>

        <div class="table mt-3">
            <p-toast />
            <p-table
            [value]="exams"
            [tableStyle]="{ 'min-width': '50rem' }"
            *ngIf="tableVisible"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome Paciente</th>
                        <th>Cpf Paciente</th>
                        <th>Tipo do Exame</th>
                        <th>Data do Exame</th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-exam>
                    <tr>
                        <td>{{ exam.paciente.nome }}</td>
                        <td>{{ exam.paciente.cpf }}</td>
                        <td>{{ exam.tipoExame.nome }}</td>
                        <td>{{ formatToDDMMYYYY(exam.dataExame) }}</td>
                        <td>
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-send"
                                class="send"
                                (click)="enviarEmail(exam)">
                            </button>
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-file-pdf"
                                class="pdf-download"
                                (click)="downloadRelatorio(exam)">
                            </button>
                            <button
                                type="button"
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                (click)="selectExam(exam)">
                            </button>
                            <button
                                type="button"
                                pButton
                                pRipple
                                class="delete"
                                icon="pi pi-trash"
                                (click)="confirm($event, exam)">
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-confirmDialog />
<app-dialog-form
[patients]="patients"
[typesExams]="typesExams"
[visible]="dialogVisible"
[laboratorio]="laboratorio"
[selectedExam]="selectedExam"
[profissionaisSaude]="profissionaisSaude"
(closeDialog)="closeDialog()">
></app-dialog-form>
