<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="item" let-item let-root="root">
            <a [routerLink]="item.route" class="p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">
                    {{ item.label }}
                </span>
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="signout-container">
                <a (click)="logout()" class="p-menuitem-link">
                    <i class="pi pi-sign-out"></i>
                </a>
            </div>
        </ng-template>
    </p-menubar>
</div>